<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leo.hello_world">

    <application
        android:allowBackup="true"
        android:icon="@drawable/helloworldicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="NewPlanet"
            android:label="@string/activity_title_new_planet"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="ConfigPlanet"
            android:label="@string/activity_title_config_planet"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="TravelPlanet"
            android:label="@string/activity_title_travel_planet"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="AttackPlanet"
            android:label="@string/activity_title_attack_planet"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
